In [3]:
import numpy as np
import matplotlib.pyplot as plt
import csv
import pyhepmc
import pandas as pd

In [5]:
# Load the event info
event_info = pd.read_csv("genie_tau_decays_event_info.csv")
particle_info = pd.read_csv("genie_tau_decays_particles.csv")

## Analyze particles in the event

In [78]:
particle_info.head(13)

    event_num         pdg          E        px        py        pz
0           0  1000080160  14.895081  0.000000  0.000000  0.000000
1           0         -16   3.730323  0.185260  3.295873  1.737299
2           0         -15   3.251366 -0.023894  2.329548  1.409583
3           0         211   0.726490 -0.435732 -0.013640  0.564145
4           0         -16   2.524877  0.411767  2.343313  0.845184
5           1  1000080160  14.895081  0.000000  0.000000  0.000000
6           1          16   3.725654 -1.656092 -2.943322  1.573121
7           1          15   2.846514 -0.845274 -1.491209  1.416815
8           1        -211   0.395154 -0.365821 -0.047146  0.024889
9           1        -211   2.062102 -0.284192 -1.660413  1.181121
10          1         211   0.382154 -0.195887  0.216024  0.203774
11          1          16   0.007096  0.000500  0.000490  0.007061
12          2  1000080160  14.895081  0.000000  0.000000  0.000000

In [50]:
# Check if there are any events where two taus are produced
# There should not be any
assert not (particle_info[np.abs(particle_info['pdg']) == 15].groupby("event_num").count() > 1).any().any()
taus = particle_info[np.abs(particle_info["pdg"]) == 15]
assert (taus["event_num"] == np.arange(len(taus))).all()

In [51]:
taus

        event_num  pdg            E           px           py           pz
2               0  -15     3.251366    -0.023894     2.329548     1.409583
7               1   15     2.846514    -0.845274    -1.491209     1.416815
14              2   15     3.332381    -2.127187    -1.737024    -0.636785
19              3   15     3.509529    -0.032933    -0.487587    -2.986784
26              4   15     3.555693    -0.230564    -0.218090    -3.063518
...           ...  ...          ...          ...          ...          ...
447098      76638  -15  1003.199894  -392.660182  -607.363024  -695.222992
447104      76639   15  5031.544231 -4776.946270 -1257.860435  -956.559277
447110      76640  -15    75.985685    56.916040   -50.301859    -0.977036
447116      76641   15  1999.051556  -973.289879  1030.714386  1409.446214
447120      76642   15  2128.943214 -1013.673964 -1313.010045 -1334.490828

[76643 rows x 6 columns]

In [98]:
np.unique(np.isclose(particle_info.drop("pdg", axis=1).groupby("event_num").nth[3:].groupby("event_num").sum(), 
           taus.set_index("event_num").drop("pdg", axis=1), rtol=0.01).sum(axis=1), return_counts=True)

(array([0, 1, 2, 3, 4]), array([18011,   568,    61,   493, 57510]))

The number in the first array indicates how many of the 4-momentum components are within the given relative tolerance (rtol), while the number in the second array correspond to how many events have that number of components within the given relative tolerance.

We have a large collection of 4 (all components close in value) and 0 (none of the components are close in value), with a few events in between.

It is good that most events are 4, since that means that the 4-momentum is conserved.

The ones with 0 correspond to when the electron is not in the event, but the electron neutrino and tau neutrino are.

## Analyze event information
Just for sanity checks

In [100]:
event_info.sum(axis=0)

event_num    2.937036e+09
cc           7.664300e+04
dis          4.067000e+04
qel          1.594000e+04
res          2.001700e+04
xsec         8.392645e+06
dtype: float64

There seems to be the same order of magnitude of DIS, QEL and RES events, with a majority of DIS events.

In [102]:
event_info["cc"].all()

True

All events are CC, which is good since those are the only ones we are interested in.